# Copie ce fichier en ".env" (dans backend/) et remplace les valeurs.

# Clé utilisée par SessionMiddleware (app/main.py)
SECRET_KEY=change-moi-avec-une-vraie-cle-secrete

# Clé utilisée pour signer les tokens JWT (app/api/auth.py)
SECRET_JWT_KEY=change-moi-avec-une-autre-vraie-cle-secrete

# Base de données (optionnel en local si tu utilises la valeur par défaut)
DATABASE_URL=postgresql+psycopg2://postgres:your_password@localhost:5432/db_exam

#
HF_TOKEN =token de hugging face
